# Email Spam Detection

In [1]:
#Importing the Necessary Libraries

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from nltk.corpus import stopwords

In [4]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Sanjay\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

True

In [5]:
stop_words=stopwords.words('english')
print(stop_words)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [6]:
#Intializing Dataset

In [7]:
df=pd.read_csv('spam11.csv')

In [8]:
stop_words=stopwords.words('english')

In [9]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [10]:
#Data Cleaning

In [11]:
data=df.where((pd.notnull(df)),'')

In [12]:
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,,,
5568,ham,Will Ì_ b going to esplanade fr home?,,,
5569,ham,"Pity, * was in mood for that. So...any other s...",,,
5570,ham,The guy did some bitching but I acted like i'd...,,,
5571,ham,Rofl. Its true to its name,,,

In [13]:
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",,,
1,ham,Ok lar... Joking wif u oni...,,,
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,,,
3,ham,U dun say so early hor... U c already then say...,,,
4,ham,"Nah I don't think he goes to usf, he lives aro...",,,

In [14]:
data.describe()

          v1                      v2 Unnamed: 2 Unnamed: 3 Unnamed: 4
count   5572                    5572       5572       5572       5572
unique     2                    5169         44         11          6
top      ham  Sorry, I'll call later
freq    4825                      30       5522       5560       5566

In [15]:
#INITIALIZING HAM AS 1 AND SPAM AS 0

In [16]:
data.loc[data['v1']=='spam','v1',]=0
data.loc[data['v1']=='ham','v1',]=1

In [17]:
x=data['v2']
y=data['v1']

In [18]:
#Splitting the Training and testing set

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [21]:
print(x_train)

2027    No got new job at bar in airport on satsgettin...
4960    A bit of Ur smile is my hppnss, a drop of Ur t...
4418    How have your little darlings been so far this...
1325                  Yeah jay's sort of a fucking retard
2227                     Oh k.k..where did you take test?
                              ...
5294    XMAS iscoming & ur awarded either å£500 CD gif...
5447                So that takes away some money worries
492                      Sorry,in meeting I'll call later
2314    Also that chat was awesome but don't make it r...
450                                         hanks lotsly!
Name: v2, Length: 4457, dtype: object

In [22]:
print(x_test)

3160    Mystery solved! Just opened my email and he's ...
641      said kiss, kiss, i can't do the sound effects...
3536    Mmmmm ... It was sooooo good to wake to your w...
456     LOOK AT AMY URE A BEAUTIFUL, INTELLIGENT WOMAN...
4523                               I've sent Ì_ my part..
                              ...
390                             Huh so late... Fr dinner?
2279                    Sorry, I'll call later in meeting
3483    Tell my  bad character which u Dnt lik in me. ...
2995    They released vday shirts and when u put it on...
894     Doesn't g have class early tomorrow and thus s...
Name: v2, Length: 1115, dtype: object

In [23]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4457,)
(4457,)
(1115,)
(1115,)

In [24]:
#Extracting Features

In [25]:
feature_extraction=TfidfVectorizer(min_df=1,stop_words='english',lowercase=True)

In [26]:
x_train_features=feature_extraction.fit_transform(x_train)

In [27]:
x_test_features=feature_extraction.transform(x_test)

In [28]:
y_train_features=y_train.astype('int')

In [29]:
y_test_features=y_test.astype('int')

In [30]:
#Training The model using Logistic Regression

In [31]:
model=LogisticRegression()
model.fit(x_train_features,y_train_features)

LogisticRegression()

# In a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook.
On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.

In [32]:
pred=model.predict(x_train_features)
print(accuracy_score(y_train_features,pred)*100)

96.90374691496523

In [33]:
pred2=model.predict(x_test_features)
print(accuracy_score(y_test_features,pred2)*100)

95.87443946188341

In [34]:
inp=["Hey!! Mr Rithvik you have been elected as our next ceo"]

In [35]:
input_features=feature_extraction.transform(inp)
prediction=model.predict(input_features)
print(prediction)
[1]

[1]

[1]

In [36]:
if(prediction==1):
    print("HAM MAIL")
else:
    print("SPAM MAIL")

HAM MAIL